### INTRODUCTION

In [19]:
#Ways of saving daraframe file

#to_pickle() 
#- df.to_pickle('df.pkl')
#- pd.read_pickle('df.pkl')

#to_csv() 
#to_excel()

In [ ]:
#values - (values of dataframe in an array)
#index - (row index)
#columns - (columns of df)
#size - (total no. of elements)
#shape - (no. of row and columns)

#info(params) - returns information about the dataframe and its column
#nunique - no. of unique data tiems in each column
#describe() - statistical information for each numeric column

In [9]:
#creating series
#series can be defined as a single column of data in pandas dataframe. One dimensional array with labels

import pandas as pd

s = pd.Series([10,20,30], index=['a','b','c'])
print("Series",s)             
# Creating element
#Element is defined as a single value in a seires, indivisual data entry
print("Element",s['b'])
              
#Creating datapoint
#Datapoint is a single value within a dataframe. Similar to element but is used when referring to a full dataset rather than single series.
df = pd.DataFrame({
    'Name':['Alice','Bob'],
     'Age':[25,20],
    'Score':[90,100]
                  })
print("Datapoint", df.loc[1,'Score'])

Series a    10
b    20
c    30
dtype: int64
Element 20
Datapoint 100

### PANDAS ESSENTIALS

In [ ]:
#Accessing data from dataframe

#loc[] (Label-based selection)
#df.loc(row_label(or index value),column_label)

df.loc[[0,5,10]] #with list for accessing rows with 0,5,10
df.loc[4:6] #with a slice accessing rows with labels 4 through 6
df.loc[0:20:3]# with a slice for accessing 3rd row from 0 through 20
df.loc[df.Year == 1997] #with conditional expression to access the row for the year 1997

df.loc[[0,5,10],['AgeGroup','DeathRate']] #with list for row and col
df.loc[4:6,'AgeGroup':'DeathRate'] # with slice for row and col

#iloc[] (Index-based selection)/through their positions
#df.iloc[row_index, column_index]
df.iloc[[4,5,6],[1,2]] #list for multiple index for row and col
df.iloc[4:7,1:3] #with slice for multiple row and col
df.iloc[-10:]#negative row position for accessing last 10 rows

In [ ]:
#Sorting
#Ascending - small to big
#Descending - big to small

#sort_values(columns,ascending)
df.sort_values('DeathRate', ascending=False).head(5)
df.sort_values(['DeathRate','Age Group'], ascending=False).head(5)

df.sort_values(['Year','DeathRate'], ascending=[True,False]).head()

##### Pandas method

count(),meand(),median(),std(),min(),max(),sum(),cumsum(),quantile(q)

** -> power operator

// -> integer division

/ -> division

In [ ]:
#df.quantile([.1,.9])

#df['MeanCentered'] = df.DeathRate - df.DeathRate.mean()

In [16]:
#Reshaping data in dataframe
#pivot() - used for reshping data which truns a column's value to column heades.
#df.pivot(index,columns,values)

data = pd.DataFrame({
    'Student': ['Alice', 'Alice', 'Bob', 'Bob'],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Score': [90, 85, 88, 92]
})

print("previous data")
print(data)
pivot_df = data.pivot(index="Student",columns="Subject",values="Score")
print("Pivoted Table")
print(pivot_df)

previous data
  Student  Subject  Score
0   Alice     Math     90
1   Alice  Science     85
2     Bob     Math     88
3     Bob  Science     92
Pivoted Table
Subject  Math  Science
Student
Alice      90       85
Bob        88       92

In [26]:
#melt() - UNPIVOT data
#for converting wide data into long format
#df.melt(id_vars, var_name, value_name) or df.melt(id_vars, value_vars, var_name, value_name)

#We can melt the df even if has not been pivoted previously
# Creating a DataFrame
df = pd.DataFrame({
    'Student': ['Alice', 'Bob'],
    'Math': [90, 88],
    'Science': [85, 92]
})

print(df)
df=df.melt(id_vars='Student', var_name='Subject', value_name='Score')

print("AFTER: ",df)
# df=df.melt(id_vars='Student', value_vars=['Math','Science'], var_name='Subject', value_name='Score')
print("AFTER: ",df)
#id_vars= 'Student': Keeps the student coumn as it is
#var_name='Subject':Creates a new column as Subject which as the original column names ('Math and Science')
#value_name='Score':Craetes a new column "Score" to store calues from the melted columns


#ANOTHER EXMAPLE
# Creating a DataFrame
df2 = pd.DataFrame({
    'Employee': ['John', 'Sara', 'Mike'],
    'January_Sales': [5000, 7000, 6000],
    'February_Sales': [5500, 7200, 6200]
})

print(df2)
melted_df = df2.melt(id_vars='Employee', var_name='Month', value_name='Sales')
print(melted_df)

  Student  Math  Science
0   Alice    90       85
1     Bob    88       92
AFTER:    Student  Subject  Score
0   Alice     Math     90
1     Bob     Math     88
2   Alice  Science     85
3     Bob  Science     92

ValueError: value_name (Score) cannot match an element in the DataFrame columns.

Summary (Function	Purpose	Example)

#loc[]	Select rows/columns by label	df.loc['A', 'Score']

#iloc[]	Select rows/columns by index	df.iloc[1, 2]

#pivot()	Reshape data by making a column’s values into new column headers	df.pivot(index='Student', columns='Subject', values='Score')

#melt()	Convert wide data back to long format	df.melt(id_vars='Student', var_name='Subject', value_name='Score')

In [ ]:
# Filtering data
mortality_data.query('Year == 1900 and AgeGroup != "1-4 Years"')
#when column name has space in it and quering
mortality_data.query('Year == 1900 and `Age Group` != "1-4 Years"')
#accessing one column
mortality_data.query('Year == 1900').DeathRate
mortality_data.query('Year == 1900')['DeathRate']
#accessing multiple column
mortality_data.query('Year == 1900')[['DeathRate','AgeGroup']]

In [ ]:
#df.column_name.str.replace('old_val','new_val')

#with three parameters
df.AgeGroup.replace(to_replace=['1-4 years','5-10 years'], value=['01-04 years','05-10 years'],inplace=True)

#with dictionary
df.AgeGroup.replace({'1-4 years':'01-04 years','5-10 years':'05-10 years'},inplace=True)

#simple
df.column_name.str.replace('1-4 years','01-04 years')

In [ ]:
#for setting index
#set_index(columns, verify_integrity)

df=df.set_index('Year') # sets year as index for other values 
df=df.set_index('Year',verify_integrity=True) #checks if the set index has duplicate values
df=df.set_index(['Year','AgeGroup'], verify_integrity=True) #sets two column index

#for resetting index
df=df.reset_index(inplace=True)

In [ ]:
#df.groupby('col_name')
#df.groupby(['col_name1',col_name2])
#df.groupby(['Year','AgeGroup'])['DeathRate'].agg(['mean','median','std','nunique'])

# For visulization
#### matplotlib
#### pandas
#### seaborn
#### altair
#### ggplot

## PANDAS ESSENTIAL FOR VISULIZATION

##### line
##### area
##### scatter
##### bar
##### histogram
##### density
##### box
##### pie

plot parameters 

#title, #legend, #grid, #rot - rotation by defalut 0 degree, #xlabel, #ylabel, #xlim - xlimit, #ylim - ylimit, #figsize - sets width and height if the plot

subplot parameters
#title, #subplots - True - creates subplot if the y axius plots more than 1   series, #layout - a tuple that sets the number of rows and columns for the subplots, #sharex,sharey = shares x/y axis for subplot do that it won't be r4epeated for each sbubplot - by defalut SHARE = TRUE and SHAREY = FALSE

In [20]:
#df.plot.scatter()
#df.plot.line(y=['1-4 Years','10-15 Years'])
#df.plot.scatter(x='Year', y='DeathRate')

#df.query('Year=1900 and `Age group` != "1-5 Year"').plot.bar() - query with bar graph
#df.query('Year=1900 and `Age group` != "1-5 Year"').plot.barh() - horizontal bargrah

#df.groupby('AgeGroup')['DeathRate'].sum().plot.pie() - grouping by age groun and summing data of death rate and plotting the summed val in the pie chart

#df.plot.hist(y="Death Rate", bins=8) - histogram
#df.plot.density(y="Death Rate") - density
#df.plot.box() - box

In [ ]:
#FOR PLOT
#df.plot.line(title="Child Mortality: 2000-2018", ylabel="Deaths per 1000", figsize=(8,4), grid=True, rot=45, 
#xlim=(2000,2018),ylim=(0,100))

#FOR SUBPLOT
#df.plot.line(title=['Plot 1','Plot 2','Plot 3','Plot 4', ylabel="Deaths per 1000", sharey=True, grid=True, rot=45, xlim=(1900, 1950),
# legend=False, subplots=True, layout=(2,2), figsize=(10,10)])

In [ ]:
# CHAINING FOR BAR PLOT WITH PIVOT
#df.query("Year in (1900, 2018)").pivot(index="AgeGroup", columns="Year",values="DeathRate").plot.barh()

#USING GROUP BY AND CHAINING
#df.groupby('AgeGroup')['Death Rate'].agg(['mean','median','std']).plot(ylabel='Deaths per 1000')

### SEABORN ESSENTIAL FOR DATA VISUALIZATION

In [21]:
##### line
##### bar
##### scatter
##### box
##### histogram
##### density
##### KDE plot
##### ECDF plot

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]