## Code Along -How to get the data Sqlite ,Json  ##

In [13]:
import sqlite3
import pandas as pd

In [ ]:
## Establish connection to the database

In [3]:
connection = sqlite3.connect('Employees.db')

In [ ]:
##Create a cursor object

In [4]:
cursor = connection.cursor()

In [ ]:
##Create table if it does not exist

In [5]:
cursor.execute('''Create TABLE IF NOT EXISTS Employees(Id INTEGER PRIMARY KEY AUTOINCREMENT,Name TEXT, age INTEGER)''')

In [ ]:
##Insert a record into table EMployees

In [8]:
cursor.execute("INSERT into Employees (name,age)VALUES ('Ana',20),('Jane',26),('Frank',45),('Elsa',34)")

In [ ]:
## Get records from table

In [10]:
rows = cursor.execute("SELECT * FROM EMployees").fetchall()

In [11]:
for row in rows:
    print(row)

(1, 'Ana', 20)
(2, 'Jane', 26)
(3, 'Frank', 45)
(4, 'Elsa', 34)

In [ ]:
## Get the data in DataFrame

In [15]:
df = pd.DataFrame(rows)
df

   0      1   2
0  1    Ana  20
1  2   Jane  26
2  3  Frank  45
3  4   Elsa  34

In [ ]:
## Using read_sql_query

In [16]:
query = "SELECT * FROM employees"
df = pd.read_sql_query(query,connection)
df

   Id   Name  age
0   1    Ana   20
1   2   Jane   26
2   3  Frank   45
3   4   Elsa   34

In [ ]:
## JSON

In [17]:
import requests

In [20]:
url = "https://api.thecatapi.com/v1/images/0XYvRd7oD"

In [21]:
response = requests.get(url)

In [29]:
import json
if response.status_code == 200:
    data = response.json()  # Convert JSON response to a Python dictionary
    ##print(data)
    print(json.dumps(data, indent=4))
else:
    pprint("Failed to retrieve data", response.status_code)

{
    "id": "0XYvRd7oD",
    "url": "https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg",
    "breeds": [
        {
            "weight": {
                "imperial": "7  -  10",
                "metric": "3 - 5"
            },
            "id": "abys",
            "name": "Abyssinian",
            "cfa_url": "http://cfa.org/Breeds/BreedsAB/Abyssinian.aspx",
            "vetstreet_url": "http://www.vetstreet.com/cats/abyssinian",
            "vcahospitals_url": "https://vcahospitals.com/know-your-pet/cat-breeds/abyssinian",
            "temperament": "Active, Energetic, Independent, Intelligent, Gentle",
            "origin": "Egypt",
            "country_codes": "EG",
            "country_code": "EG",
            "description": "The Abyssinian is easy to care for, and a joy to have in your home. They\u2019re affectionate cats and love both people and other animals.",
            "life_span": "14 - 15",
            "indoor": 0,
            "lap": 1,
            "alt_names": "",
            "adaptability": 5,
            "affection_level": 5,
            "child_friendly": 3,
            "dog_friendly": 4,
            "energy_level": 5,
            "grooming": 1,
            "health_issues": 2,
            "intelligence": 5,
            "shedding_level": 2,
            "social_needs": 5,
            "stranger_friendly": 5,
            "vocalisation": 1,
            "experimental": 0,
            "hairless": 0,
            "natural": 1,
            "rare": 0,
            "rex": 0,
            "suppressed_tail": 0,
            "short_legs": 0,
            "wikipedia_url": "https://en.wikipedia.org/wiki/Abyssinian_(cat)",
            "hypoallergenic": 0,
            "reference_image_id": "0XYvRd7oD"
        }
    ],
    "width": 1204,
    "height": 1445
}

In [ ]:
###Optional If want to see the image

In [30]:
from PIL import Image
from io import BytesIO

In [43]:
image_url = data['url']

# Get the image using requests
image_response = requests.get(image_url)

# Open the image using PIL
img = Image.open(BytesIO(image_response.content))

# Display the image
img.show()

In [42]:
desc = data['breeds'][0]['description']
desc

'The Abyssinian is easy to care for, and a joy to have in your home. Theyâ€™re affectionate cats and love both people and other animals.'